<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/css/style.css')}}">
</head>
<body>
    <h1>Hello World👋</h1>
    <img src="{{url_for('static', filename='../static/programacion.jpg')}}">
    <a href="/products/list">👆Llista de productes</a>
    <a href="/products/create">👆Crear producte</a>
</body>
</html>