<!DOCTYPE html>
<html>
<head>
    <title>Actualizar Producto</title>
    <link rel="stylesheet" href="../../static/css/update.css">
</head>
<body>

<h2>Actualizar Producto</h2>

<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.title.label }} {{ form.title() }}
    {{ form.description.label }} {{ form.description() }}
    {{ form.price.label }} {{ form.price() }}
    {{ form.photo.label }} {{ form.photo() }}
    {{ form.submit() }}
</form>

</body>
</html>